---
- name: check nginx config
  command: nginx -t
  register: nginx_config_check
  changed_when: false
  become: yes

- name: restart nginx
  service:
    name: nginx
    state: restarted
  become: yes

- name: reload nginx
  service:
    name: nginx
    state: reloaded
  become: yes
